:root {
	--clr-light: #f1f6f9;
	--clr-gray: #9ba4b5;
	--clr-blue: #394867;
	--clr-dark-blue: #212a3e;
}

body {
	font-family: "Courier New", Courier, monospace;
	margin: 0;
}

#page {
	display: flex !important;
	justify-content: center;
}

#screen {
	margin-top: 5%;
	height: 80px;
	background-color: var(--clr-dark-blue);
	color: var(--clr-light);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-left: auto;
	box-shadow: 10px 0 5px -2px #888;
}

#btn-container {
	padding: 15px 20px;
	width: 300px;
	height: 380px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
	background-color: var(--clr-gray);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 10px 0 5px -2px #888;
}

#btn-container div {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 2rem;
	box-shadow: 3px 3px black;
}

#btn-container div:hover {
	cursor: pointer;
	box-shadow: 2px 2px black;
}

#btn-container div:active {
	box-shadow: none;
}

#plus {
	grid-row-start: 1;
	grid-column-start: 4;
}

#minus {
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 4;
}

#multiply {
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 4;
}

#division {
	grid-column-start: 4;
	grid-row-start: 4;
}

#equals {
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 5;
	border-radius: 10px !important;
	background-color: #f9d949;
}

#ac {
	grid-column-start: 1;
	grid-column-end: 3;
	border-radius: 10px !important;
}

#num-0 {
	grid-column-end: 3;
}

.operator {
	background-color: var(--clr-blue);
	color: var(--clr-light);
}

.operator:hover {
	background-color: orange;
}

#ac:hover,
#c:hover {
	background-color: #dc143c;
}

.number {
	background-color: var(--clr-light);
	color: black;
}

.number:hover {
	background-color: #b9eddd;
}

footer {
	position: absolute;
	bottom: 3%;
	width: 100%;
	text-align: center;
}

footer a {
	color: orangered;
	font-weight: 700;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
	color: rgb(0, 101, 67);
}
